
.h3{
    font-weight: 16px;
    text-transform: uppercase;
    font-family: arial;
    text-decoration: underline;
}
.block {
    border:solid 2px black;
    border-radius:10px;
    p{
        color:red
    }
}
